<div class="row comp-action">
  <div class="col-lg-8">
    <%= form_tag( "complaints/#{complaint.id}/advocated_by_user", method: 'post') do %>
      <% if complaint.written_by?( current_user ) %>
        <a href="<%= edit_complaint_path( complaint.id ) %>" 
          title="<%= translate('complaint.actions.edit') %>" 
          class="glyphicon glyphicon-edit"> </a>
      <% else %>
        <a href="#" 
          class="glyphicon glyphicon-edit btn-link"
          disabled></a>
      <% end %>
      &nbsp;
      <a href="#" 
        title="<%= translate('complaint.actions.advocate') %>" 
        class="advocate glyphicon glyphicon-thumbs-up"> </a>
    <% end %>
  </div>
</div>
