<div class="col-lg-12 border_red_debug"> <!-- entry -->
  <div class="row ">
    <div class="col-lg-8">
      <span><p><%= complaint.title %></p></span>
      <span><p><%= complaint.body %></p></span>
    </div>
    <div class="col-lg-4 border_green_debug">
      <% if not complaint.has_advocators? %>
        <span><p><%= translate( 'complaint.none_advocator' )%></p></span>
      <% else %>
        <% complaint.advocators.each do |u| %> 
          <span><p><%= u.email %></p></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div> <!-- end 'entry -->
