<div class="container">
  <%= render "navegation_bar" %>

  <div class="row marketing">   <!-- Complaints container -->
    <% if @complaints.empty? %>
      <div class="col-md-9 boder_debug border_green_debug"> <!-- entry -->
        <span>translate( 'none_complaint' )</span>
      </div> <!-- end 'entry -->
    <% end %>
  
    <% @complaints.each do |c| %>
      <%= render partial: "entry", locals: { complaint: c } %>
    <% end %>

  </div>  <!-- End of 'Complaints container -->

  <div class="footer">
    <p>&copy; Company 2014</p>
  </div>
</div> <!-- /container -->
