<div id="index_carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% (slides.size..0).each do |i| %>
      <li data-target="#index_carousel" data-slide-to="#{i}" class="active"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% slides.each do |s| %>
      <%= render s %>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#index_carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#index_carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>















