<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li>
    <% if user_signed_in? %>
      <%= link_to translate('sign_out'), destroy_user_session_path,
        :class => "btn btn-danger"
      %>
    <% else %>
      <%= link_to translate('log_in'), new_user_registration_path, 
              :class => "btn btn-primary btn-xs",
              :id => 'log_in'
      %>
    <% end %>
    </li>
  </ul>
  <h3 class="text-muted"><b><%= translate('project_name') %></b></h3>
</div>

