<div class="item active jumbotron">
<h3><%= translate('idea') %></h3>
  <p class="lead quotation">
  "Nadie hay tan osado que lo despierte... 
  De su grandeza tienen temor los fuertes... 
  No hay sobre la Tierra quien se le parezca, animal hecho exento de temor. 
  Menosprecia toda cosa alta; es rey sobre todos los soberbios"
  </p>
  <p class="author">
  Extraido de <a href="http://es.wikipedia.org/wiki/Leviat%C3%A1n_(Hobbes)">wikipedia</a>
  </p>
</div>
