// Place all the styles related to the complaints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border_red_debug {
  border-style:dashed;
  border-width:1px;
  border-color:red;
}

.border_green_debug {
  border-style:dashed;
  border-width:1px;
  border-color:green;
}


.field_with_errors {
  @extend .has-error;
}

@import "bootstrap";

.field_with_errors {
  @extend .has-error;
}

/* Gradient colors */
$cmp-grd-t: #f4fff0;
$cmp-grd-b: #ffffff;

.comp-section {
  background-image:        -webkit-gradient( linear, left top, left bottom, color-stop(0, $cmp-grd-t), color-stop(1, $cmp-grd-b));
  background-image:      -o-linear-gradient(bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
  background-image:    -moz-linear-gradient(bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
  background-image: -webkit-linear-gradient(bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
  background-image:     -ms-linear-gradient(bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
  background-image:         linear-gradient(to bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
}

.comp-action {
  border-bottom-style: solid;
  border-bottom-color: #deedd8;
  border-bottom-width: 1px;
}
