// Place all the styles related to the complaints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border_red_debug {
  border-style:dashed;
  border-width:1px;
  border-color:red;
}

.border_green_debug {
  border-style:dashed;
  border-width:1px;
  border-color:green;
}


// Comments
// Comments
// Comments
.field_with_errors {
  @extend .has-error;
}

@import "bootstrap";

.field_with_errors {
  @extend .has-error;
}
