// Place all the styles related to the complaints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* Customization */


.field_with_errors {
  @extend .has-error;
}

.field_with_errors {
  @extend .has-error;
}

/***
* Complaint form 
*/
.complaint_form {
  margin:0 0 40px 0;
}

/***
* Complaint index
*/
/* Gradient colors */
$cmp-grd-t: #f4fff0;
$cmp-grd-b: #ffffff;

.comp-section {
  background-image:        -webkit-gradient( linear, left top, left bottom, color-stop(0, $cmp-grd-t), color-stop(1, $cmp-grd-b));
  background-image:      -o-linear-gradient(bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
  background-image:    -moz-linear-gradient(bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
  background-image: -webkit-linear-gradient(bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
  background-image:     -ms-linear-gradient(bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
  background-image:         linear-gradient(to bottom, $cmp-grd-t 0%, $cmp-grd-b 100%);
}

.comp-action {
  border-bottom-style: solid;
  border-bottom-color: #deedd8;
  border-bottom-width: 1px;
}

.comp-action-list {
  display: inline !important;
}

.comp-author {
  font-style:italic;
  color:$gray-light;
}
