@import "bootstrap";
@import "bootstrap/theme";
@import "jumbotron-narrow";

.navbar-text.navbar-text-fixed {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
}

.border_red_debug {
  border-style:dashed;
  border-width:1px;
  border-color:red;
}

.border_green_debug {
  border-style:dashed;
  border-width:1px;
  border-color:green;
}

