<div class="footer" >
  <ul class="footer_inline">
    <li>Product version: <%= Version.as_string %></li>
    <li>Basado en <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
    <li>Alojado en <a href="http://pages.github.com/">GitHub</a></li>
    <li>Iconos de <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></li>
  </ul>
</div>
